html {
  background: #f0f0f0;
  height: 100%;
}

body {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#root {
  flex: 0 0 100%;
}

.slide {
  padding-top: 100%;
}