html {
  background: #f0f0f0;
  height: 100%;
}

body {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#root {
  flex: 0 0 100%;
}

.example-slider {
  position: relative;
}

.example-slider .slider-and-controls {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}

.example-slider .track > * {
  flex: 0 0 50%;
}

.example-slider .arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.example-slider .arrow::before {
  content: '<-';
  font-size: large;
}

.example-slider .arrow:first-child {
  left: 10px;
}

.example-slider .arrow:last-child {
  right: 10px;
}

.example-slider .arrow:last-child::before {
  content: '->';
}

.example-slider .dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  list-style: none;
  padding: 0;
}

.example-slider .dots li {
  flex: 0 0 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 4px;
  position: relative;
  background: #fff;
  opacity: .6;
}

.example-slider .dots .active {
  opacity: 1;
}

.example-slider .dots button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.slide {
  padding-top: 100%;
}